/* .big-card {
    width: 51%;
    height: 100%;
    background-color: #b1bb52;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .big-card h2 {
    margin-bottom: 1rem;
  } */