/* .weather-card {
  width: 80%;
  max-width: 400px;
  height: 34%;
  background-color: #375fc3;
  border-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 7%;
  margin-bottom: 2%;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-card h2 {
  margin-bottom: 1rem;
} */
